<div class="row">
  <div class="col-xs-12">
    <img [src]="recipe.imagePath" alt="" class="img-responsive image">
  </div>
</div>
<div class="row">
  <div class="col-xs-12 d-flex align-items-center justify-content-between">
    <h1 class="lh-base">{{ recipe.name }}</h1>
    <div class="btn-group" role="group" aria-label="َActions List">
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          مدیریت <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li class="dropdown-item"><a href="#" class="text-decoration-none">افزودن به لیست خرید</a></li>
          <li class="dropdown-item"><a href="#" class="text-decoration-none">ویرایش</a></li>
          <li class="dropdown-item"><a href="#" class="text-decoration-none">حذف</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{ recipe.description }}
  </div>
</div>
<!-- <div class="row">
  <div class="col-xs-12">
    {{ recipe.imagePath }}
  </div>
</div> -->