<!-- <app-header (selectedFeature)="onNavigate($event)"></app-header>
<div class="container">
  <div class="row">
    <div class="col-12">
      <app-recipes *ngIf="selectedFeature === 'recipe'"></app-recipes>
      <app-shopping-list *ngIf="selectedFeature === 'shopping-list'"></app-shopping-list>
    </div>
  </div>
</div> -->
<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="backdrop" *ngIf="isChangingRoute"></div>
      <div class="spinner" *ngIf="isChangingRoute">
        <app-loading></app-loading>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>